fastapi
uvicorn[standard]
pydantic
python-multipart
requests
email-validator
numpy==1.26.4
torch
torchaudio
soundfile
ffmpeg-python
demucs @ git+https://github.com/facebookresearch/demucs.git
